body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    line-height: 1.6;
    color: #333;
    
}
.location-phone{
    margin-top: 10px;
    color: #777;
    font-size: 0.9em;
}
header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}
header h1 {
     font-size: 2em;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
header nav a:hover {
    text-decoration: underline;
    color: #007bff;
}
h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 5px;
    margin-top: 30px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 10px 0;
}

section {
    margin-bottom: 20px;
}
footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    color: #777;
    font-size:0.9em;
}
.work-type{
      font-style: italic;
       font-size: 0.8em;
       color: #777;
       margin-left: 5px;
}
.work-entry,
.paper-entry {
     display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding:10px;
    border: 1px solid #eee;
}
.courses-entry{
       display: flex;
      justify-content: space-between;
}
.entry-content {
   flex: 1;
}
.pub-type{
      font-style: italic;
       font-size: 0.8em;
       color: #777;
       margin-left: 5px;
}